* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
$main-color: #ffb8b8;
$header: #ff3838;
$box: #7d5fff;
$frame: #67e6dc;

.kutu{
     height: 200px;
     width: 200px;
     background-color: $header;
     float: left;
     margin-right: 10px;
}

body {
  background-color: $main-color;
  .container {
    height: 1000px;
    width: 900px;
    margin: 0px auto;
    background-color: $frame;
    header {
      height: 50px;
      width: 900px;
      background-color: $header;
      ul {
        li {
          float: left;
          a {
               display: block;
               height: 50px;
               line-height: 50px;text-align: center;
               width: 150px;
               text-decoration: none;
               font-size: 24px;
               color: $main-color;
               &:hover{
                    color: $box;
               }
          }
        }
      }
    }
    .box{
     height: 500px;
     width: 700px;
     margin: 20px auto;
     background-color: $box;
    }
    .box1{
     @extend .kutu;
    }
    .box2{
     @extend .kutu
    }
  }
}
